@import url("variables.css");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: var(--board-bg);
}

#board {
  display: grid;
  grid-template-columns: repeat(20, var(--cell-size));
  grid-template-rows: repeat(20, var(--cell-size));
  gap: var(--grid-gap);

  border: red dotted 2px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background: var(--cell-color-dead);
  border: 1px solid #ddd;
  cursor: pointer;
}

.cell.alive {
  background: var(--cell-color-alive);

  border-radius: 3px;
}
